#options
    #selects
        select#format-select
            option(value="text") Text
            option(value="autohotkey") Autohotkey
            option(value="batchfile") Batch
            option(value="c_cpp") C++
            option(value="coffee") CoffeeScript
            option(value="csharp") C#
            option(value="css") CSS
            option(value="dockerfile") Docker
            option(value="ejs") EJS
            option(value="fortran") FORTRAN
            option(value="gcode") GCode
            option(value="gitignore") .gitignore
            option(value="glsl") GLSL
            option(value="golang") Go
            option(value="groovy") Groovy
            option(value="html") HTML
            option(value="java") Java
            option(value="javascript") Javascript
            option(value="json") JSON
            option(value="kotlin") Kotlin
            option(value="latex") LaTeX
            option(value="less") Less
            option(value="lua") Lua
            option(value="makefile") Makefile
            option(value="markdown") Markdown
            option(value="matlab") MATLAB
            option(value="mysql") MySQL
            option(value="nginx") NGINX
            option(value="objectivec") Objective C
            option(value="ocaml") OCaml
            option(value="pascal") Pascal
            option(value="perl") Perl
            option(value="php") PHP
            option(value="powershell") PowerShell
            option(value="python") Python
            option(value="r") R
            option(value="ruby") Ruby
            option(value="rust") Rust
            option(value="sass") Sass
            option(value="scad") SCAD
            option(value="scala") Scala
            option(value="scss") SCSS
            option(value="sh") Shell
            option(value="sql") SQL
            option(value="sqlserver") SQL Server
            option(value="svg") SVG
            option(value="typescript") TypeScript
            option(value="vbscript") VBScript
            option(value="xml") XML
            option(value="yaml") YAML

    #buttons
        button#save-button Save