#selects
    select#format-select
        option(value="text") Text
        option(value="autohotkey") Autohotkey
        option(value="batchfile") Batch
        option(value="c_cpp") C++
        option(value="csharp") C#
        option(value="javascript") Javascript