#side-menu
    #side-menu-header
        a#exit-button
            img(src="./assets/images/x-solid.svg" alt="Close button.")

    h1 QB
    if session && session.user
        p Welcome, #{session.user.Username}!

    #links
        if !session || !session.user
            a(href="/login") Login
            a(href="/register") Register
        else
            a(href="/mine") My Quickbins
        a(href="https://www.ryanstew.art/" target="_blank") About
        if session && session.user
            a(href="/logout") Logout