#side-menu
    #side-menu-header
        a.hamburger-icon.fa-solid.fa-bars
    if session.userUsername
        h2#welcome-text= "Hello, " + session.userUsername + "."
    else
        h2#welcome-text= "Hello."

    ul#side-menu-list
        - const HAS_LOGGED_IN = session.userID || session.userUsername || session.userEmail
        if !HAS_LOGGED_IN
            li
                a(href='/login') Login
            li
                a(href='/signup') Sign Up
        li
            a(href='/') New Quickbin
        if HAS_LOGGED_IN
            li
                a(href="/saved") My Saved Bins
        li
            a(href='https://www.ryanstew.art' target="_blank") About
        if HAS_LOGGED_IN
            li
                a(href="/logout") Logout