#side-menu
    #side-menu-header
        a.hamburger-icon.fa-solid.fa-bars
    ul#side-menu-list
        li
            a(href='/login') Login
        li
            a(href='/signup') Sign Up
        li
            a(href='/') New Quickbin
        li
            a(href='https://www.ryanstew.art' target="_blank") About
