html
    head
        include includes/head

        // STYLESHEETS
        link(rel='stylesheet' type='text/css' href='./css/error.css')

    body
        include includes/header

        h2= bigText
        p= smallText

        include includes/side-menu


