html
    head
        include includes/head

        // STYLESHEETS
        link(rel='stylesheet' type='text/css' href='./css/error.css')

    body
        include includes/header

        div#content
            h2= error
            p= details

        include includes/side-menu

        include includes/particles

