doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/home.css')

    // SCRIPTS
    script(src="./js/ace-min-noconflict/ace.js")
    script(src="./js/editor.js" defer)
    script(src="./js/save-button.js" defer)
    script(src="./js/format-select-handler.js" defer)

body
    include includes/header

    #inputs-form
        button#save-button Save
        include includes/format-select

    include includes/side-menu

    include includes/editor

    include includes/particles
