doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/home.css')

    // SCRIPTS
    script(src="./js/save-button.js" defer)
body
    include includes/header

    form(action="/saved/save" method="POST")
        #center-container
            #center
                textarea(name="text-content")#text-area
        #buttons
            button(type="submit")#save-button Save
            // <button id="reset-button">New Quickbin</button>

    include includes/side-menu
    include includes/particles