doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/home.css')

body
    include includes/header

    #center-container
        #center
            textarea#text-area
    #buttons
        button#save-button Save
        // <button id="reset-button">New Quickbin</button>

    include includes/side-menu