doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/home.css')
    link(rel="stylesheet" type="text/css" href="./css/mine.css")

    // SCRIPTS
    script(src="./js/mine-buttons.js" defer)
body
    include includes/header

    script.
        posts= "#{posts}"

    div#mine-container
        each post in posts
            a(href=`/save/?id=${post.Post_UUID}` class="mine-button") Quickbin ID ##{post.Post_ID}

    include includes/side-menu

    include includes/particles
