doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/home.css')
    link(rel="stylesheet" type="text/css" href="./css/login-register.css")

    // SCRIPTS
    //script(src="./js/ace-min-noconflict/ace.js")
    //script(src="./js/editor.js" defer)
    //script(src="./js/save-button.js" defer)
    //script(src="./js/format-select-handler.js" defer)

body
    include includes/header

    #form-container
        form(action="/register" method="POST")
            input(type="text" name="username" placeholder="Username" minlength=1 maxlength=20)
            input(type="password" name="password" placeholder="Password")
            input(type="password" name="password-confirm" placeholder="Confirm Password")
            input(type="submit" value="Register" class="submit-button")

    include includes/side-menu

    include includes/particles
