html
    head
        include includes/head

        // STYLESHEETS
        link(rel='stylesheet' type='text/css' href='./css/register.css')

    body
        include includes/header

        main
            div#login-form-container
                form(action="" method="POST")
                    input(type="text" name="username" placeholder="username")
                    input(type="password" name="password")
                    button(type="submit") Submit


