html
    head
        include includes/head

        // STYLESHEETS
        //link(rel='stylesheet' type='text/css' href='./css/login-and-signup.css')
        //link(rel='stylesheet' type='text/css' href='./css/login.css')
    body
        include includes/header

        //main
        //    div#login-form-container
        //        h3 Login
        //        form(action="/login" method="POST")
        //            if POPULATE_INPUTS
        //                input(type="email" name="email" value="woofyryn@gmail.com")
        //                input(type="password" name="password" value="toor")
        //            else
        //                input(type="email" name="email" placeholder="Username")
        //                input(type="password" name="password" placeholder="Password")
        //            button(id="login-submit" type="submit") Submit

        include includes/side-menu
        include includes/particles

