doctype html
head
    include includes/head

    // STYLESHEETS
    link(rel='stylesheet' type='text/css' href='./css/saved.css')

    // SCRIPTS
    script(src="./js/ace-min-noconflict/ace.js")
    script(src="./js/editor.js" defer)
    script(src="./js/post-loader.js" defer)

body
    include includes/header

    //if session && session.user
    //    include includes/inputs
    //else
    //    p [SAVED QUICKBIN: READ ONLY]

    p [SAVED QUICKBIN: READ ONLY]

    include includes/editor

    script.
        content= "#{content}"
        format= "#{format}"

    include includes/side-menu

    include includes/particles