- const POPULATE_INPUTS = true;

html
    head
        include includes/head

        // STYLESHEETS
        link(rel='stylesheet' type='text/css' href='./css/login-and-signup.css')
        link(rel='stylesheet' type='text/css' href='./css/signup.css')

    body
        include includes/header

        main
            div#login-form-container
                h3 Sign Up
                form(action="/signup" method="POST")
                    if POPULATE_INPUTS
                        input(type="email" name="email" value="woofyryn@gmail.com")
                        input(type="text" name="username" value="WoofyRyn")
                        input(type="password" name="password" value="toor")
                        input(type="password" name="confirm-password" value="toor")
                    else
                        input(type="email" name="email" placeholder="Email")
                        input(type="text" name="username" placeholder="Username")
                        input(type="password" name="password" placeholder="Password")
                        input(type="password" name="confirm-password" placeholder="Password")
                    button(id="login-submit" type="submit") Submit

        include includes/side-menu