html
    head
        include includes/head

        // STYLESHEETS
        link(rel='stylesheet' type='text/css' href='./css/signup.css')

    body
        include includes/header

        include includes/side-menu


