* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  z-index: 2;
}

html, body {
  height: 100%;
}

body {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header a:first-of-type {
  font-family: "AR One Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #FFA343;
  font-size: 30px;
  letter-spacing: 2px;
}
header a:last-of-type {
  width: 20px;
}
header a:last-of-type img {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #FFA343;
}

#particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0.2;
  pointer-events: none;
}

#center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#center-container #center {
  width: 100%;
  height: 100%;
}
#center-container #center #editor {
  width: 100%;
  height: 100%;
}

.ace_mobile-menu {
  display: none !important;
}

.ace_layer.ace_gutter-layer.ace_folding-enabled {
  background-color: #141414;
}

#inputs-form {
  display: flex;
  align-items: center;
  padding: 0 20px 20px 20px;
}
#inputs-form button {
  margin-right: 10px;
}

select {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  background-color: transparent;
  letter-spacing: 2px;
  border: 1px solid #FFA343;
  color: #FFA343;
  border-radius: 5px;
  padding: 5px 10px;
}

button {
  height: 100%;
  background-color: transparent;
  border: 1px solid #FFA343;
  color: #FFA343;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "AR One Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
button:hover {
  background-color: #FFA343;
  color: #141414;
}

#side-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 101%;
  background-color: #202026;
  z-index: 100;
  transition: left 0.1s ease-in-out;
}
#side-menu #side-menu-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
#side-menu #side-menu-header #exit-button {
  width: 20px;
}
#side-menu #side-menu-header #exit-button img {
  width: 100%;
  height: 100%;
}
#side-menu h1 {
  text-align: center;
  font-size: 50px;
  color: #FFA343;
}
#side-menu p {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
  font-family: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#side-menu #links {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#side-menu #links a {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #FFA343;
  color: #FFA343;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "AR One Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  min-width: 200px;
  max-width: 300px;
  margin: 10px auto;
}
#side-menu #links a:hover {
  background-color: #FFA343;
  color: #141414;
}

#form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}
#form-container form input {
  display: block;
  margin: 5px 0;
}
#form-container form input[type=text], #form-container form input[type=password] {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
#form-container form input[type=submit] {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FFA343;
  color: #FFA343;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "AR One Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#form-container form input[type=submit]:hover {
  background-color: #FFA343;
  color: #141414;
}

/*# sourceMappingURL=login-register.css.map */
