@import "partials/colors";
@import "partials/fonts";


*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $background;
    color: $text-color;
    display: flex;
    flex-direction: column;
}


a
{
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover
    {
        color: $accent;
    }
}


header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    h1
    {
        font-family: $font-1;
        font-size: 25px;
        letter-spacing: 2px;
        color: $accent;
    }

    #hamburger-icon
    {
        font-size: 25px;
    }
}


#center-container
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    #center
    {
        background-color: $center-color;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 10px;

        textarea
        {

        }
    }
}


#buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;

    button
    {
        background-color: transparent;
        border: 1px solid $accent;
        color: $accent;
        padding: 10px 30px;
        border-radius: 10px;
        font-family: $font-1;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: $font-1-semibold;
        letter-spacing: 2px;
        margin: 0 10px;
        width: 100%;

        &:hover
        {
            background-color: $accent;
            color: $background;
        }
    }
}