@import "shared";


#mine-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 75px 0;

    a
    {
        border: 1px solid $accent;
        border-radius: 5px;
        width: 250px;
        text-align: center;
        padding: 10px;
        color: inherit;
        text-decoration: none;
        margin-bottom: 25px;
    }
}