@import "partials/colors";
@import "partials/fonts";
@import "partials/breakpoints";


*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    z-index: 2;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $background;
    color: $text-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
    font-family: $font-2;
    font-weight: $font-2-regular;
}


header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    a
    {
        &:first-of-type
        {
            font-family: $font-1;
            font-weight: $font-1-bold;
            text-decoration: none;
            color: $accent;
            font-size: 30px;
            letter-spacing: 2px;
        }


    }

    #bars-icon
    {
        width: 20px;
        transition: opacity .1s ease-in-out;

        img
        {
            width: 100%;
            height: 100%;
        }
    }
}


a
{
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover
    {
        color: $accent;
    }
}


#particles
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: .2;
    pointer-events: none;
}


#center-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #center
    {
        width: 100%;
        height: 100%;

        #editor
        {
            width: 100%;
            height: 100%;
        }
    }
}


.ace_mobile-menu
{
    display: none !important
}


.ace_layer.ace_gutter-layer.ace_folding-enabled
{
    background-color: $background;
}


#inputs-form
{
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: center;

    button
    {
        margin-right: 10px;
    }

    //div
    //{
    //    display: flex;
    //    align-items: center;
    //
    //    button
    //    {
    //        margin-right: 10px;
    //    }
    //
    //    //input[type="text"]
    //    //{
    //    //    font-family: inherit;
    //    //    font-size: 15px;
    //    //    border: 1px solid $accent;
    //    //    background-color: transparent;
    //    //    padding: 5px 10px;
    //    //    border-radius: 5px;
    //    //}
    //}
    //
    ////select
    ////{
    ////    margin-top: 10px;
    ////}
}


select
{
    font-size: 15px;
    font-family: inherit;
    font-weight: $font-2-light;
    background-color: transparent;
    letter-spacing: 2px;
    border: 1px solid $accent;
    color: $accent;
    border-radius: 5px;
    padding: 5px 10px;
    //width: 100%;
    //margin-bottom: 10px;
}


button
{
    height: 100%;
    background-color: transparent;
    border: 1px solid $accent;
    color: $accent;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: $font-1;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: $font-1-regular;
    letter-spacing: 3px;

    //width: 100%;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    &:hover
    {
        background-color: $accent;
        color: $background;
    }
}


#side-menu
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 101%;
    background-color: $side-menu-color;
    z-index: 100;
    transition: left .1s ease-in-out;

    #side-menu-header
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 20px;

        #exit-button
        {
            width: 20px;
            transition: opacity .1s ease-in-out;

            img
            {
                width: 100%;
                height: 100%;
            }
        }
    }

    h1
    {
        text-align: center;
        font-size: 50px;
        color: $accent;
    }

    p
    {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        font-family: $font-2-extralight;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #links
    {
        display: flex;
        flex-direction: column;
        text-align: center;

        a
        {
            text-decoration: none;
            background-color: transparent;
            border: 1px solid $accent;
            color: $accent;
            padding: 5px 20px;
            border-radius: 5px;
            font-family: $font-1;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: $font-1-regular;
            letter-spacing: 3px;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;
            min-width: 200px;
            max-width: 300px;
            margin: 10px auto;

            &:hover
            {
                background-color: $accent;
                color: $background;
            }
        }
    }
}