$font-1: 'AR One Sans', sans-serif;
$font-1-regular: 400;
$font-1-medium: 500;
$font-1-semibold: 600;
$font-1-bold: 700;


$font-2: 'Poppins', sans-serif;
$font-2-extralight: 200;
$font-2-light: 300;
$font-2-regular: 400;
$font-2-medium: 500;
$font-2-semibold: 600;